* {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
}

.img-banner {
    display: none;
}

.img-info{
    padding: 30px 30px 20;
    font-family: cursive; 
 }

.img-info h2{
   padding: 30px 30px 20;
   font-family: arial;
   font-size: 46px;
   color: rgb(0, 192, 118);
   line-height: 45px; 
}

.img-info p{
    padding: 0px 30px 20;
    font-family: cursive;
    font-size: 17px;
    line-height: 24px; 
 }

.img-photo {
    padding-top: 30px;
    width: 100%;
}


@media only screen and (min-width: 768px) {
    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 36px;        
    }

    .img-info h2{
        padding: 20px 0px 0px;
    }
     
    .img-info p{
        padding: 20px 0px 0px;
    }


    .img-photo {
      padding-top: 35px;
    }
}


@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .img-banner {
        display: block;
        widows: 100%;
        max-height: 450px;
        padding-bottom: 34px;        
    }
 
    .img-info {        
        width: 50%;
        float: right;
    }

    .img-info h2{
        padding: 20px 0px 0px 30px;
    }

    .img-info p{
         padding: 20px 0px 0px 30px;
    }

    .img-photo {
        padding-top: 20px;
        width: 50%; 
        float: left;   
    }
}

